
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/share-ride1.jpg" alt="" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-if="!showDriver"><a ui-sref="main.findride" ui-sref-active="active">Find Rides</a></li>
                <li ng-if="showDriver"><a ui-sref="main.rides" ui-sref-active="active">Your Rides</a></li>
                <li ng-if="showDriver" class="create-post"><a ui-sref="main.front" class="wc-btn btn-orange-round btn-createpost"><span class="add-plus">+</span> Create a Ride</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right iconSub">
                <!-- <li><a href="#" class="demo-icon icon-search"></a></li> -->
                <!--<li ng-hide="showUserMenu"><a href="" class="demo-icon icon-mail"></a></li>-->
                <!--<li ng-hide="showUserMenu"><a href="" class="demo-icon icon-bell"></a></li>-->
                <!--<li><a ui-sref="main.cart" class="demo-icon icon-cart-plus"> <span class="cart-data" ng-class="cartDataCount? '':'hide'">{{cartDataCount}}</span></a></li>-->
                <li ng-hide="showUserMenu" class="dropdown">
                <span class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img  width="42" height="42" class="img-circle" src="assets/images/user-friend.png"> <!--<span class="caret"></span>--></span>
                <ul class="dropdown-menu">
                  <!--<li><a href="#">Social Activity Points</a></li>-->
                  <!--<li role="separator" class="divider"></li>-->
                  <li><a href="main.front">Profile</a></li>
                  <li><a ui-sref="main.front">Settings</a></li>
                  <li><a ui-sref="logout">logout</a></li>
                </ul>
              </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
