<section class="container">
    <!--<h2 class="trip-heading">Your Rides</h2>-->
    <!--<div class="form-check has-success list-rides" ng-repeat="trip in allTrips">-->
        <!--<label class="form-check-label">-->
            <!--<input type="radio" class="form-check-input" id="checkboxSuccess" value="option1">-->
           <!--<span style="font-size: 20px;">{{ trip.fromLocation}} - {{ trip.toLocation}} time {{ trip.date | date}}. Anyone looking for ride let me know.</span>-->
        <!--</label>-->
    <!--</div>-->
    <div class="row" style="overflow-x:auto;">
        <h2 class="trip-heading">Rides History</h2>
        <table class="table">
            <thead>
            <tr>
                <th>From Location</th>
                <th>To Location</th>
                <th>Time</th>
                <th>Available Seats</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="allTrips.length ===0" colspan="4"><td>No rides yet!</td></tr>
            <tr ng-repeat="trip in allTrips">
                <td>{{trip.fromLocation}}</td>
                <td>{{trip.toLocation}}</td>
                <td>{{trip.date| date:"MM/dd/yyyy 'at' h:mma"}}</td>
                <td ng-if="trip.available">{{trip.available}}</td>
                <td ng-if="!trip.available">0</td>
                <td>
                    <button type="button" ng-click="editTrip(trip)" class="btn btn-primary btn-xs">Edit</button>
                </td>
                <td>
                    <button type="button" ng-click="deleteTrip(trip)" class="btn default btn-xs">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Ride</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-2 col-form-label">From Location</label>
                    <div class="col-10">
                        <input class="form-control" type="text" ng-model="data.fromLocation">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">To Location</label>
                    <div class="col-10">
                        <input class="form-control" type="text" ng-model="data.toLocation">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Date & Time</label>
                    <div class="col-10">
                        <!--<input class="form-control" type="date" ng-model="data.date" id="example-date-input">-->
                        <input class="flatpickr form-control" type="text" ng-model="data.date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-2 col-form-label">Available Seats</label>
                    <div class="col-10">
                        <!--<input class="form-control" type="text"  ng-model="data.available">-->
                        <select class="form-control" ng-model="data.available" ng-options="x for x in [1,2,3,4,5,6,7,8]">
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary"  ng-click="updateTrip()">
                    Save changes
                </button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Ride</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="confirmDelete(deleteOne)">
                    Delete
                </button>
            </div>
        </div>

    </div>
</div>