
<div class="delivery-addaddress">
<div class="row">
<div class="col-md-4">
  <div class="sidebar-nav add-nav">
                  <ul class="nav navbar-nav">
                      <li>
                          <a class="page-scroll add-scroll" ui-sref-active="active" ui-sref=".changePassword">Change Password</a>
                      </li>
                      <li>
                          <a class="page-scroll add-scroll" ui-sref-active="active" ui-sref=".addDeliveryAddress">Add delivery address</a>
                      </li>
                  </ul>
              </div>
</div>
<div ui-view>

</div>
</div>
</div>
