<!-- Login Page -->
<section class="login-page">
    <div class="container">
        <div class="login-main text-center">
            <figure>
                <a href="#"><img src="assets/images/share-ride1.png" alt="" /></a>
            </figure>
            <p>We wish you happy "Share on Ride"</p>
            <div class="log-form label-box text-left">
                <div class="login-label">
                    <h3>Thank you for registering with us.</h3>
                </div>
                <form name="forgetPasswordForm">
                    <div class="login">
                        <!--<p>-->
                            <!--Soon you will get a confirmation email to verify your account.-->
                        <!--</p>-->
                        <!--<span>{{errorText}}</span>-->
                        <!--<div class="form-group">-->



                        <!--</div>-->
                        <div class="btn-resend">
                          <!--<button class="btn btn-default btn-full" ng-click="resendEmail()">Resend Email</button>-->
                          <button class="btn btn-default btn-full" style="margin-left: 10px;"><a ui-sref="login">Login Here</button>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </form>
                </br>
                <span style="color:red;"><b>{{error}}</b></span>
            </div>
        </div>
    </div>
</section>
