<div class="col-md-8">
    <section class="panel deliveryAddressPanel">
        <h3 class="page-title">Change Password</h3>
        <div class="bank-transfer">
            <form name="changePassword" ng-submit="changePassword.$valid && setPassword(info)" novalidate>
                <div class="form-group">
                    <label for="Company Name">Enter old password</label>
                    <input class="form-control form-control-area" type="password" ng-model="oldPassword" name="oldPassword" required>
                    <div class="errorText" ng-if="changePassword.oldPassword.$touched || changePassword.$submitted" style="color:red">
                        <span style="color:red" ng-show="changePassword.oldPassword.$error.required">Please Enter Old Password</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Company Name">Enter new password</label>
                    <input class="form-control form-control-area" type="password" ng-model="newPassword" name="newPassword" required>
                     <div class="errorText" ng-if="changePassword.newPassword.$touched || changePassword.$submitted" style="color:red">
                        <span style="color:red" ng-show="changePassword.newPassword.$error.required">Please Enter New Password</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Company Name">Confirm new password</label>
                    <input class="form-control form-control-area" type="password" ng-model="confirmPassword" name="confirmNewPassword" required>
                     <div class="errorText" ng-if="changePassword.confirmNewPassword.$touched || changePassword.$submitted" style="color:red">
                        <span style="color:red" ng-show="changePassword.confirmNewPassword.$error.required">Please Confirm New Password</span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="products-upload-btn btn btn-orange" type="submit">SET NEW PASSWORD</button>
                </div>
            </form>
        </div>
    </section>
</div>
