<!-- Login Page -->
<section class="login-page">
    <div class="container">
        <div class="login-main text-center">
            <figure>
                <a href="#"><img src="assets/images/share-ride1.jpg" alt="" /></a>
            </figure>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy</p>
            <div class="log-form label-box text-left">
                <div class="login-label">
                    <h3>Logged Out</h3>
                </div>
                <form name="forgetPasswordForm">
                    <div class="login">

                        <p>You have successfully Logged out. <br>Click below to go to Login Page</p>
                        <button type="submit" style="float:none; width:100%;" class="btn btn-default btn-full" ui-sref="login">Login</button>
                        <div class="clearfix"></div>
                    </div>
                </form>
                </br>
                <span style="color:red;"><b>{{error}}</b></span>
            </div>
        </div>
    </div>
</section>
