
    <div class="col-sm-3">
        <div class="friendBlock extendFullCol">
            <h2>Friends <span>(250)</span></h2>
            <div class="friendList">
                <div class="friend-mini">
                    <figure>
                        <img src="assets/images/user-friend.png" class="img-circle" alt="" />
                    </figure>
                    <div class="detail">
                        <h3>Vinay Kumar</h3>
                        <p>New Delhi, India</p>
                    </div>
                </div>

                <div class="friend-mini">
                    <figure>
                        <img src="assets/images/user-friend.png" class="img-circle" alt="" />
                    </figure>
                    <div class="detail">
                        <h3>Vinay Kumar</h3>
                        <p>New Delhi, India</p>
                    </div>
                </div>

                <div class="friend-mini">
                    <figure>
                        <img src="assets/images/user-friend.png" class="img-circle" alt="" />
                    </figure>
                    <div class="detail">
                        <h3>Vinay Kumar</h3>
                        <p>New Delhi, India</p>
                    </div>
                </div>

                <div class="friend-mini">
                    <figure>
                        <img src="assets/images/user-friend.png" class="img-circle" alt="" />
                    </figure>
                    <div class="detail">
                        <h3>Vinay Kumar</h3>
                        <p>New Delhi, India</p>
                    </div>
                </div>
                <div class="endBlock">
                    <a href="#">View All</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-9 extendLeftCol">
        <div class="bioBlock">
            <div class="bio">
                <div class="topHead">
                    <div class="leftcol-1">
                        <h2>Bio  <span>Public</span></h2>
                    </div>
                    <div class="col-rem">
                        <button type="button" class="demo-icon icon-ellipsis transBtn smaller" name="button"></button>
                    </div>
                </div>
                <div class="midBody">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>
                </div>

            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="bio">
                    <div class="topHead">
                        <div class="leftcol-1">
                            <h2>Professional Summary  <span>Public</span></h2>
                        </div>
                        <div class="col-rem">
                            <button type="button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="demo-icon icon-angle-down transBtn smaller" name="button"></button>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in midBody" role="tabpanel" aria-labelledby="headingOne">
                        <button type="button" ng-click="toggleData(addData)" class="addNewData" name="button">Add New</button>
                        <div class="newData" ng-hide="addData">
                          <hr>
                            <form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-4 control-label">Company Name</label>
                              <div class="col-sm-8">
                              <input type="Company Name" ng-model="dataNew.company" class="form-control"  placeholder="Company Name">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-4 control-label">Position</label>
                              <div class="col-sm-8">
                                <input type="test" class="form-control" ng-model="dataNew.position"  placeholder="Position">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-4 control-label">City/Town</label>
                              <div class="col-sm-8">
                                <input type="test" class="form-control" ng-model="dataNew.City" placeholder="City/Town">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-4 control-label"></label>
                              <div class="col-sm-8">
                                <button type="button" ng-click="addNewProSummary(dataNew)" name="button">Add Details</button>
                              </div>
                            </div>

                            </form>
                        </div>
                        <div class="dataWork">
                            <hr>
                            <div class="dataProfile" ng-repeat="data in proSummary | reverse">
                                <div class="dataBlock">
                                  <p>{{data.Company}}</p>
                                  <span>{{data.Position}}, {{data.City}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="bio">
                    <div class="topHead">
                        <div class="leftcol-1">
                            <h2>Education  <span>Public</span></h2>
                        </div>
                        <div class="col-rem">
                            <button type="button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="demo-icon icon-angle-down transBtn smaller" name="button"></button>
                        </div>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse midBody" role="tabpanel" aria-labelledby="headingOne">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>


                <div class="bio">
                    <div class="topHead">
                        <div class="leftcol-1">
                            <h2>Contact and Basic Info  <span>Public</span></h2>
                        </div>
                        <div class="col-rem">
                            <button type="button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="demo-icon icon-angle-down transBtn smaller" name="button"></button>
                        </div>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse midBody" role="tabpanel" aria-labelledby="headingOne">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
                <div class="bio">
                    <div class="topHead">
                        <div class="leftcol-1">
                            <h2>Places you lived  <span>Public</span></h2>
                        </div>
                        <div class="col-rem">
                            <button type="button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="demo-icon icon-angle-down transBtn smaller" name="button"></button>
                        </div>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse midBody" role="tabpanel" aria-labelledby="headingOne">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>

            </div>

        </div>

    </div>
