<!-- Login Page -->
<section class="login-page">
    <div class="container">
        <div class="login-main text-center">
            <figure>
                <a href="#"><img src="assets/images/share-ride1.jpg" alt="" /></a>
            </figure>
            <p>Join us and share a ride with commuters nearby</p>
            <div class="log-form label-box text-left">
                <div class="login-label">
                    <h3>Forgot your password?</h3>
                </div>
                <form name="forgetPasswordForm">
                    <div class="login">

                        <p>No problem We'll send password reset instruction</p>

                        <span>{{errorText}}</span>
                        <div class="form-group">
                            <input type="email" class="form-control" ng-model="email" id="email" placeholder="Enter your email address" name="fPassword" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                            <span ng-show="forgetPasswordForm.fPassword.$dirty && forgetPasswordForm.fPassword.$invalid">

                         <span style="color:red" ng-show="forgetPasswordForm.fPassword.$error.pattern">Invalid email address.</span>
                            </span>
                        </div>
                        <button type="submit" class="btn btn-default btn-full" ng-click="getNewPassword(email)" ng-disabled="forgetPasswordForm.$invalid">send me instruction</button>
                          <!-- <button class="btn btn-cancel" ng-click="cancel()">Cancel</button> -->
                        <div class="clearfix"></div>
                    </div>
                </form>
                </br>
                <span style="color:red;"><b>{{error}}</b></span>
            </div>
            <span><a ui-sref="login">Go to Login</a>  / <a ui-sref="register"> Don't have an account?</a></span>
        </div>
    </div>
</section>
