<!-- Login Page -->
<section class="login-page" ng-show="temp1">
    <div class="container">
        <div class="login-main text-center">
            <figure>
                <a href="#"><img src="assets/images/share-ride1.jpg" alt="" /></a>
            </figure>
            <p>Join us a dn share a ride with commuters nearby.</p>
            <div class="log-form label-box  text-left">
              <div class="reset-label">
                <h3>Enter your New password</h3>
              </div>
                <form name="myform">
                    <div class="error" ng-class="$loginstatus ? 'onsuccess' : 'onfailure'">
                        <span></span>
                    </div>
                    <div class="login">
                      <p>Choose a new password for this user account. This password will replace the old one.</p>
                        <div class="form-group">
                            <input type="password" class="form-control" ng-model="pwd" name="passwordlen" ng-minlength="8" placeholder="Enter your new password" required>
                            <span style="color: #FF0000; font: 20px;" ng-show="myform.passwordlen.$invalid && myform.passwordlen.$dirty && myform.passwordlen !==''"><b>Your password should be minimum of 8 digits and maximum of 15 digits  </b></span>
                      </div>
                      <div class="form-group">
                            <input type="password" class="form-control" ng-model="repwd" id="email" placeholder="confirm password" required>
                            <b><span style="color:red" ng-bind="passwordCheck()"></span></b>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="resetPassword(pwd, repwd)" ng-disabled="myform.$invalid || pwd !==repwd">Set new password</button>
                    </div>
                </form>
                </br>
            </div>
        </div>
    </div>
</section>
<section class="login-page" ng-show="temp2">
    <div class="container">
        <p><b>Autentication Failed please check</b></p>
        <span class="btn-primary" ng-click="gotoLogin()">Login</span>
    </div>
</section>
